/* Mofif de la couleur du logo du panier */
.fa-solid {
    margin-right: 40px;
    color: #000066;
}

/* Réglage du container du panier */
.panier-container {
    border: 2px solid #000066;
    border-radius: 15px;
    background-color: white;
    width: 500px;
    height: auto;
    padding: 15px;
}

/* Modification du titre "Mon panier" */
#mon-titre {
    color: #FF1654;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;

}

/* Redimension du container de récap de la commande */
.récap-commande {
    border: 2px solid #000066;
    border-radius: 15px;
    background-color: white;
    width: 300px;
    height: auto;
    padding: 15px;
    position: relative;
}

.récap-commande button {
    position: absolute;
    bottom: 0;
    left: 25%
}

/* Redimension du texte d'information du panier */
#Information {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000066;
    font-size: 20px;
    text-align: center;
}

#info-commande {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FF1654;
    font-size: 20px;
    text-align: center;
}

.valider-commande {
    margin-bottom: 20px;
    padding: 5px;
    background-color: #000066;
    color: white;
    border-radius: 7px;
}