/* Ici tous le css de la page n'est que optimisation des éléments étant donner que la principal feuille css du projet est "page d'accueill.css" */


@media screen and (min-width: 768px) and (max-width: 991px) {
    .header {
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        flex: wrap;
    }

    .search_bar {
        max-width: 500px;
    }

    .main-container {
        flex-direction: column;
    }

    .zone-de-contenue {
        height: 1500px;
    }

    .sidebar {
        width: 100%;
        margin-top: 20px;
    }

    .Box-articles {
        flex-direction: column;
    }

    .footer-container {
        flex-direction: column;
    }
}

/* On force la légende du carrousel a se positionner un peu plus bas */

.titre-de-championnats {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #FF1654;
}

.sidebar a {
    text-decoration: none;
}


/* J'ajoute de la clarté sur le carrousel avec de la transparence */
.carousel-caption {
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    /* optionnel : fond semi-transparent */
    padding: 10px;
    border-radius: 5px;
}

.custom {
    color: #FF1654;
    /* couleur de la police a l'interieur de l'outils de personnalisation */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Type de police choisi*/
    font-weight: bold;
    /* Gras */
}


.carousel-item {
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000066;
    color: #f1f2ee;
}

fieldset {
    gap: 20px;

}

.custom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#submit-btn {
    border-radius: 10px;
    background-color: #000066;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#submit-btn:hover {
    background-color: #FF1654;
    border: 1px solid #FF1654;
    transition: background-color 0.3 ease #FF1654, 0.3 ease;
}

/* FOOTER */

/* Ici on modifie les emplacement du contenu a l'interieur du footer */
.footer-container {
    display: flex;
    padding: 20px 30px;
    max-width: auto;
    justify-content: space-between;
    background-color: #f1f2ee;
}

/* Modification du logo de livraison */
.fa-truck-fast {
    font-size: 40px;
    color: #000066;
}

/* Redimension du texte en dessous du logo de livraison */
.delivery-free {
    font-size: 20px;
    color: #000066;

}

/* On centre le contenu a l'interieur de cet div */
.livraison-info {
    text-align: center;
}

/* bis */
.mid-content {
    text-align: center;
}

/* Re size du logo de paiement sécuriser */
.fa-lock {
    font-size: 40px;
    color: #000066;
}

/* Re size du text en dessous du logo avec le cadenas */
.check-paiement {
    font-size: 20px;
}

/* Alignement a l'interieur de la div de droite dans le footer */
.right-content {
    text-align: center;
}

/* Re size du logo (horloge) */
.fa-stopwatch {
    font-size: 40px;
    color: #000066;
}

/* Re size du texte en dessous du logo horloge (delai de livraison) */
.delay-delivery {
    font-size: 20px;
}

/* On align le contenu de navigations dans le footer */
.Navigations {
    text-align: center;
    padding-left: 30px;
    color: #000066;
    font-weight: bold;
    margin-top: 100px;
}

/* On vien ajuster les mentions légales et la politique de confidentialité */
.mentions-légales {
    font-size: 15px;
    font-weight: bold;
    margin-top: 210px;
    text-align: center;
    color: #000066;
}

.politique-de-confidentialité {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #000066;
    margin-top: 100px;
}

/* On modifie la list et on l'align au contenue */
.navlist-footer,
.list-footer {
    text-align: center;
    list-style-type: none;
    font-size: 30px;
    color: #000066;
}

/* On re-size les nom des réseaux sociaux */
#follow {
    font-size: 40px;
    font-weight: bold;
    color: #000066;
    align-items: center;
}

/* Petit espacement entre le logo playstor appstore et reseaux sociaux */
#logo-app {
    margin-bottom: 25px;
}

.réseaux-sociaux {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    margin-top: 100px;
    gap: 20px;
}


#instagram,
#whatsapp,
#x {
    font-size: 30px;
    color: #000066;
}

.item-ligue1,
.item-premierleague,
.item-seriea,
.item-liga,
.item-bundesliga {
    justify-content: center;
}

.league-name-footer {
    align-content: center;
    font-size: 30px;
    color: #000066;
}

.championnats-footer {
    margin-top: 60px;
}

#CGV {
    font-size: 15px;
    font-weight: bold;
    color: #000066;
    margin-top: 60px;
}