/* Feuille de style de la page d'accueil du projet fil rouge */

/* Adapte la taille de l'ecran entre 768px et 991px*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .header {
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    flex: wrap;
  }

  .search_bar {
    max-width: 500px;
  }

  .main-container {
    flex-direction: column;
  }

  .zone-de-contenue {
    height: 1500px;
  }

  .sidebar {
    width: 100%;
    margin-top: 20px;
  }

  .Box-articles {
    flex-direction: column;
  }

  .footer-container {
    flex-direction: column;
  }
}

/* Pas de marge sur toute la page */
body {
  margin: 0;
  /* Image de fond de page */



}

/* LE HEADER */

/* La dimension du logo par rapport au header */
#logo {
  height: 20px;
}

/* Alignement des élements a l'interieur du header + les couleurs */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f2ee;
  padding: 10px 30px;
  max-width: auto;
  position: sticky;
  top: 0;
}

/* Disposition accueil et boutique */
.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Positionnement de l'accueil et de la boutique + remove du soulignement et modif de la font */
.nav_bar a {
  text-decoration: none;
  color: #070aaf;
  font-weight: bold;
  font-size: 20px;
}

.sidebar a {
  text-decoration: none;
  color: #070aaf;
}


.sidebar a:hover {
  color: #FF1654;
}

.sidebar a:after {
  color: #070aaf;
}

a:hover {
  color: #FF1654;
}



/* Positionnement + style de la search bar dans le header */
.search_bar {
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid #070aaf;
  border-radius: 40px;
  padding: 5px 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 102, 0.3);
  height: 30px;
  color: #070aaf;
  flex: 1;
  text-align: center;
}

/* Modification de l'input de la searchbar */
.search_bar input {
  border: none;
  outline: none;
  font-size: 10px;
  color: #070aaf;
}

/*  Positionnement du lien de la page pour s'inscrire */
.sinscrire {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin-left: 50px;
}

/* Remove du surlignement du texte du lien */
.signup {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: #070aaf;
  margin-right: 25px;
}

.fa-circle-user {
  font-size: 25px;
}


/* CONTENUE PRINCIPAL (SIDEBAR) */


/* Position du conteneur principal  */
.main-container {
  display: flex;
  padding: 20px;
  gap: 30px;
  justify-content: space-evenly;
  background-color: #000066;
  background-size: cover;

}

/* Position de la sidebar */

.sidebar {
  width: auto;
  background: rgba(255, 255, 255, 0.98);
  border-radius: 15px;
  padding: 25px;
  border: solid 2px #070aaf;
  text-align: center;
  height: auto;
}

/* Positionnement du h2 et de la sidebar */
.sidebar h2 {
  color: #070aaf;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

a {
  text-decoration: none;
}

/* Positionnement des titre de championnats dans la sidebar */
.item-ligue1,
.item-premierleague,
.item-seriea,
.item-liga,
.item-bundesliga {
  display: flex;
  gap: 15px;
  padding: 12px 0;
}

/* Réglage de la police des noms de championnats */
.league-name {
  font-weight: bold;
  font-size: 20px;
  color: #070aaf;
  align-content: center;
}

/* ZONE DE CONTENUE PRINCIPAL */

/* Ajustement de la zone de contenue */
.zone-de-contenue {
  background: rgb(243, 243, 243);
  padding: 25px;
  width: auto;
  justify-content: space-between;
  border-radius: 25px;
  height: auto;
  border: solid 2px #070aaf;

}

/* Ajustement titre "les plus vendus" */
.main-title {
  color: #FF1654;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* Positionnement des maillots dans la zone de contenue */
.image-maillot {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 200px;
}

/* On sépare les articles entre eux et on les centres*/
.Box-articles {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: 1000px;
  height: auto;
}

/* On modifie les dimensions des noms des produits */
.titre-des-produits {
  color: #070aaf;
  font-size: 25px;
  text-align: center;
  margin-bottom: 25px;
}

/* On vien reglé les dimensions des prix */
.prix {
  color: #070aaf;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 20px;
}

/* Ici on personnalise les bouton */
.custom-btn {
  background-color: #000066;
  color: #f1f2ee;
  font-size: 20px;
  width: 150px;
  border-radius: 5px;

}

.custom-btn:hover {
  background-color: #FF1654;
  /* couleur au survol */
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 1px solid #FF1654
}

/* Alignement du bonton */
.div-btn {
  text-align: center;
}



/* FOOTER */

/* Ici on modifie les emplacement du contenu a l'interieur du footer */
.footer-container {
  display: flex;
  padding: 20px 30px;
  max-width: auto;
  justify-content: space-between;
  background-color: #f1f2ee;
}

/* Modification du logo de livraison */
.fa-truck-fast {
  font-size: 40px;
  color: #000066;
}

/* Redimension du texte en dessous du logo de livraison */
.delivery-free {
  font-size: 20px;
  color: #000066;

}

/* On centre le contenu a l'interieur de cet div */
.livraison-info {
  text-align: center;
}

/* bis */
.mid-content {
  text-align: center;
}

/* Re size du logo de paiement sécuriser */
.fa-lock {
  font-size: 40px;
  color: #000066;
}

/* Re size du text en dessous du logo avec le cadenas */
.check-paiement {
  font-size: 20px;
}

/* Alignement a l'interieur de la div de droite dans le footer */
.right-content {
  text-align: center;
}

/* Re size du logo (horloge) */
.fa-stopwatch {
  font-size: 40px;
  color: #000066;
}

/* Re size du texte en dessous du logo horloge (delai de livraison) */
.delay-delivery {
  font-size: 20px;
}

/* On align le contenu de navigations dans le footer */
.Navigations {
  text-align: center;
  padding-left: 30px;
  color: #000066;
  font-weight: bold;
  margin-top: 100px;
}

/* On vien ajuster les mentions légales et la politique de confidentialité */
.mentions-légales {
  font-size: 15px;
  font-weight: bold;
  margin-top: 210px;
  text-align: center;
  color: #000066;
}

.politique-de-confidentialité {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #000066;
  margin-top: 100px;
}

/* On modifie la list et on l'align au contenue */
.navlist-footer,
.list-footer {
  text-align: center;
  list-style-type: none;
  font-size: 30px;
  color: #000066;
}

/* On re-size les nom des réseaux sociaux */
#follow {
  font-size: 40px;
  font-weight: bold;
  color: #000066;
  align-items: center;
}

/* Petit espacement entre le logo playstor appstore et reseaux sociaux */
#logo-app {
  margin-bottom: 25px;
}

.réseaux-sociaux {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  margin-top: 100px;
  gap: 20px;
}


#instagram,
#whatsapp,
#x {
  font-size: 30px;
  color: #000066;
}

.item-ligue1,
.item-premierleague,
.item-seriea,
.item-liga,
.item-bundesliga {
  justify-content: center;
}

.league-name-footer {
  align-content: center;
  font-size: 30px;
  color: #000066;
}

.championnats-footer {
  margin-top: 60px;
}

#CGV {
  font-size: 15px;
  font-weight: bold;
  color: #000066;
  margin-top: 60px;
}


/* RESPONSIVE */

@media (min-width: 400px) and (max-width: 576px) {}






@media screen and (min-width: 576px) and (max-width: 738px) {

  /* Redimension de l'ecran entre 576px et 738px */
  .header {
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    flex: wrap;
  }

  .search_bar {
    width: 500px;
  }

  .main-container {
    flex-direction: column;
  }



  .sidebar {
    width: 100%;
    margin-top: 20px;
  }

  .Box-articles {
    flex-direction: column;
    gap: 40px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-column {
    width: 100%;
    margin-bottom: 1rem;
  }

  footer h5 {
    font-size: 1.3rem;
  }

  footer ul {
    padding: 0;
    list-style-type: none;
  }

  footer ul li {
    margin: 0.4rem 0;
  }

  @media screen and (min-width: 992px) and (max-width: 1299px) {

    .nav_bar {
      flex-direction: column;
      gap: 10px;
    }

    .main-container {
      flex-direction: column;
    }

    .Box-articles {
      flex-direction: column;
      gap: 40px;
    }

    .mentions-légales {
      margin-top: 705px;
    }

    #CGV {
      margin-top: 600px;
    }

    .réseaux-sociaux {
      flex-direction: column;
    }
  }
}