/* On force la légende du carrousel a se positionner un peu plus bas */

.titre-de-championnats {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #FF1654;
}

.sidebar a {
    text-decoration: none;
}


/* J'ajoute de la clarté sur le carrousel avec de la transparence */
.carousel-caption {
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    /* optionnel : fond semi-transparent */
    padding: 10px;
    border-radius: 5px;
}

.custom {
    color: #FF1654;
    /* couleur de la police a l'interieur de l'outils de personnalisation */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Type de police choisi*/
    font-weight: bold;
    /* Gras */
}


.carousel-item {
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000066;
    color: #f1f2ee;
}

fieldset {
    gap: 20px;

}

.custom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#submit-btn {
    border-radius: 10px;
    background-color: #000066;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}